:root {
    --main: #9f5fda;
    --main-light: #c281e8;
    --dark: #000;
    --dark-light: #1f1f1f;
    --white: #ffffff;
    --grey: rgb(169, 169, 169);
    --background: #fcf8f7;
    --text: #000;
}